:root {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: black;
  background-color: whitesmoke;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

/* TITLE */
.title {
  border-radius: 20px;
  color: white;
  margin: 20px auto;
  padding: 5px;
  width: 40vw;
  height: 2em;
  background: #1E1E1E;
  box-shadow: -4px 4px 9px 0px rgba(0, 0, 0, 0.471);
  text-transform: uppercase;
  font-size: x-large;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.title > p {
  margin: auto;
}

/* FLEX CONTAINERS */
.flex-R {
  display: flex;
  gap: 10px;
}

.flex-C {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* CONTROLLERS COMPONENT */
.controllers {
  width: 40vw;
  margin-top: 30px;
  padding: 10px;
  justify-content: space-between;
}

.lengthController{
  width: 40%;
  height: 10em;
  box-shadow: -4px 4px 9px 0px rgba(0, 0, 0, 0.471);
}

.controlBlock {
  border: 3px solid black;
  border-radius: 30px;
  padding: 10px 20px;
  line-height: 1.0;
}
.controlBlock>h2{
  text-transform: uppercase;
}

.clickables{
  height: 5em;
  margin-top: 10px;
}
.clickables > button {
  font-size: x-large;
  width: 2em;
  height: 2em;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0);
  color: #000000;
  border: 1px solid #000000;
  box-shadow: -3px 2px 5px 0px rgba(0, 0, 0, 0.295);
}


/* BUTTONS PLAY - RESET */
button {
  cursor: pointer;
  background-color: black;
  border: none;
  color: white;
  font-weight: bold;
  margin-top: 10px;
}
button:hover{
  background-color: rgba(168, 168, 168, 0.526);
}

.playReset-btn {
  padding: 10px 20px;
  border-radius: 10px;
  font-size: small;
  font-family: 'Montserrat';
  margin: 20px 10px;
  box-shadow: -4px 4px 9px 0px rgba(0, 0, 0, 0.471);
}
.playReset-btn:hover{
  color: black;
  background-color: rgba(72, 72, 72, 0.078);
  border-radius: 70px;
  border: 2px solid black;
  padding: -3px -3px;
  text-transform: uppercase;
}

.clockButtons {
  margin: auto;
  justify-content: center;
  width: 50%;
}

/* DISPLAY COMPONENT */
.display {
  margin-top: 10px;
  padding: 10px;
  width: 40vw;
}

.clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
  width: 38vw;
  font-size: x-large;
  box-shadow: -4px 4px 9px 0px rgba(0, 0, 0, 0.471);
}

.clock > h2 {
  margin-top: 10px;
}

.time {
  font-size: 2.5em;
  color: rgb(0, 105, 225);
}