:root {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: black;
  background-color: whitesmoke;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

.title {
  border-radius: 20px;
  color: white;
  margin: 20px auto;
  padding: 5px;
  width: 40vw;
  height: 2em;
  background: #1E1E1E;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  font-size: x-large;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.title > p {
  margin: auto;
}

.flex-R {
  display: flex;
  gap: 10px;
  /* align-items: center; */

}

.flex-C {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.controllers {
  width: 40vw;
  margin-top: 30px;
  padding: 10px;
  justify-content: space-between;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.292));
}

.lengthController{
  width: 40%;
  height: 10em;
}

.controlBlock {
  border: 3px solid black;
  border-radius: 30px;
  padding: 10px 20px;
  line-height: 1.0;

}
.controlBlock>h2{
  text-transform: uppercase;
}

.clickables{
  height: 5em;
  margin-top: 10px;
}
.clickables > button {
  font-size: x-large;
  width: 2em;
  height: 2em;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0);
  color: #000000;
  border: 1px solid #000000;
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.1);
}



.controlBtn {
  cursor: pointer;
  user-select: none;
}
.controlBtn:hover{
  color: rgba(255, 255, 255, 0.307);
}

button {
  cursor: pointer;
  background-color: black;
  border: none;
  border-radius: 7px;
  color: white;
  font-weight: bold;
  margin-top: 10px;
  padding: 5px;
}
button:hover{
  background-color: rgba(168, 168, 168, 0.526);
}


.display {
  margin-top: 10px;
  padding: 10px;
  width: 40vw;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
  width: 38vw;
  font-size: x-large;
}

.clock > h2 {
  margin-top: 10px;
}

.time {
  font-size: 2.5em;
  color: rgb(0, 105, 225);
}